body {
  margin: 0; 
}

.container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 480px minmax(320px, auto) 640px 240px;
    grid-template-areas:
    "nav nav" 
    "header header"
    "main main"
    "section section"
    "footer footer";
}

nav {
    grid-area: nav;
    background: rgb(58, 58, 58);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    margin: 1rem;
    text-decoration: none;
    color: rgb(245, 245, 245);
}

nav svg {
    width: 2rem;
}

nav svg:first-of-type {
    margin-right: auto;
    fill: rgb(245, 245, 245);
}

nav svg:last-of-type {
    margin-left: auto;
}

nav svg path {
    fill: rgb(245, 245, 245);
}

header {
    grid-area: header;
    background: url(../img/applepic2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'BioRhyme';
    color: rgb(245, 245, 245);
    font-size: 4rem;
    text-shadow: 3px 3px 3px black;
}

main {
    grid-area: main;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    width: 100%;
    height: 100%;
    margin: 2rem;
    filter: none;
    transition: filter 300ms ease-in-out 300ms;
}

main img:hover {
    filter: brightness(0) invert(1);
}

main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main article h2 {
    color: rgb(245, 245, 245);
    padding: 1rem;
    margin-top: 1rem;
    font-family: 'BioRhyme';
    font-size: 2rem;
}

main article p {
    color: rgb(245, 245, 245);
    padding: 1rem;
    margin-top: -2rem;
    margin-left: 3rem;
    font-family: 'Space Mono';
}


section {
    grid-area: section;
    background: lightcyan;
}

footer {
    grid-area: footer;
    background: lightblue;
}